/*0000000000000000*/
*{
	padding: 0;
	margin: 0;
	border: 0;
  scroll-behavior: smooth; 
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
  margin: 0 auto 0;
  max-width: 1440px;
  font-family: 'Inter', sans-serif;
}

header, footer, .welcome, .about, .service, .prices, .contacts {
  display: flex;
  justify-content: space-between;
  padding: 0 109px 0;
}
header, .welcome, .service, .contacts {
  background: #EDF2EC;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

/* header */
header {
  align-items: center;
  height: 134px;
  font-family: 'Inika';
  letter-spacing: -0.2px;
}
.logo {
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.logo p {
  display: inline-block;
}
nav li {
  display: inline-flex;
  margin-left: 46px;
}
nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}
nav a:hover {
  color: #499A18;
}
.active-nav {
  font-weight: 700;
  color: #E06733;
}

/* -----------header end----------- */

/* welcome */
.welcome {
  height: 532px;
  color: #717171;
}
.welcome .wrapper-img {
  margin-top: 62px;
  width: 449px;
}
.welcome img {
  width: 100%;
}
.welcome .wrapper-text {
  margin-top: 98px;
  width: 549px;
}
h1 {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.welcome h1 span {
  color: #499A18;
}
.welcome p {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.welcome button {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: inherit;
  transition: 0.5s linear;
}
.welcome button:hover {
  background-color: #E06733;
  color: #ffffff;
}
/* ---------------welcome end---------------- */

/* about */
.about {
  height: 666px;
  color: #636060;
}
.about .wrapper-text {
  margin-top: 161px;
  width: 605px;
}
.about h2 {
  margin-bottom: 40px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.about h2 span {
  color: #E06733;
}
.about p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.about .wrapper-img {
  display: flex;
  margin-top: 93px;
  width: 464px;
}
.about img {
  width: 100%;
}
/* --------about end------------- */

/* service */
.service {
  flex-direction: column;
  justify-content: flex-start;
  height: 1300px;
}
.service header {
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 36px;
  height: 188px;
}
.service h2 {
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.service .header-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 162px;
  width: 558px;
}
.header-menu button {
  width: 161px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: inherit;
  transition: 0.5s linear;
}
.header-menu button:hover {
  background-color: #E06733;
  color: #ffffff;
}
.service .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 955px;
}
article {
  box-sizing: border-box;
  width: 330px;
  margin-bottom: 55px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.service img {
  width: 100%;
}
.service-information {
  padding: 0 10px 0;
  height: 100px;
  text-align: center;
}
article h3 {
  display: inline-block;
  margin: 10px 0 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}
article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}
/* --------------service and----------- */

/* prices */
.prices {
  height: 560px;
}
.wrapper-prices-menu {
  display: block;
  margin-top: 39px;
}
.prices-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.price-info {
  padding: 16px 40px 16px;
  width: 250px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border-radius: 20px;
  background: #EDF2EC;
  background-image: url(../picture/price-arrow.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 40px top 50%, 0 0;
}
.prices h2, h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.prices h2 {
  margin-bottom: 60px;
}
.prices h3 {
  margin-bottom: 38px;
  line-height: 50px;
  text-align: right;
}
.prices h3 span {
  color: #499A18;
}
.order-service {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 39px;
}
.order-service button {
  width: 161px;
  height: 50px;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: inherit;
  transition: 0.5s linear;
}
.order-service button:hover {
  background-color: #E06733;
  color: #ffffff;
}
.prices .wrapper-img {
  margin: 39px 3px 0 0;
  width: 152px;
}
/* ----------------prices---------------- */

/* contacts */
.contacts {
  height: 550px;
}
.contacts .wrapper-img {
  margin-top: auto;
  width: 400px;
}
.contacts img {
  width: 100%;
}
.contacts h2 {
  margin: 60px 0 0 42px;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.contacts-select-wrapper {
  margin-top: 148px;
}
.contacts-select-city {
  display: block;
  font-size: 20px; 
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #717171;
  padding: .6em 35px .5em 20px;
  width: 450px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #D6E7D2;
  background-image: url('../picture/select-arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 36px top 50%, 0 0;
  background-size: .65em auto, 100%;
  cursor: pointer;
  transition: 0.5s linear;
} 
.contacts-select-city::-ms-expand {
  display: none;
} 
.contacts-select-city:hover {
  background-color: #C1E698;
} 
.contacts-select-city:focus {   
  color: #717171;
  outline: none; 
} 
.contacts-select-city option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #499A18;
}
/* ---------------contacts -------------------*/

/* footer */
footer {
  height: 130px;
  align-items: center;
}
footer a {
  color: #000000;
}
footer pre {
  font-family: 'Inter';
}
.social-network {
  display: flex;
}
.social-network li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.social-network svg {
  width: 32px;
  height: 32px;
}
path {
  transition: 0.3s linear;
}
.social-network a:hover path {
  fill: #499A18;
}
.social-network a:active path {
  fill: #000000;
}
.school-link, .github-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  transition: 0.3s linear;
}
.school-link:hover {
  color: #499A18;
}
.school-link:active {
  color: #000000;
}
.github-link:hover {
  color: #499A18;
}
.github-link:active {
  color: #000000;
}
.school-link {
  margin-left: 40px;
}


