/* ---------------------------------------------------1340 */
@media (max-width: 1340px) {
  article {
    width: 280px;
}
}

/* ---------------------------------------------------1220 */
@media (max-width: 1220px) {
  /*---------------- header--------------------- */
  header, footer, .welcome, .about, .service, .prices, .contacts {
    padding: 0 50px 0;
  }
  /* ---header end---*/

  /*---------------- welcome-------------------- */
  .welcome .wrapper-img {
    margin-top: 102px;
    width: 409px;
  }
  .about .wrapper-img {
    margin-top: 53px;
    width: 424px;
  }
  /*-- welcome end--- */

  /* contacts */
  .contacts h2 {
    margin: 60px 0 0 0;
  }
  .contacts .wrapper-img {
    margin-top: auto;
    width: 350px;
  }
}

/* ---------------------------------------------------1124 */
@media (max-width: 1124px) {
  /* ------------header-------------- */
  header {
    height: 117px;
  }
  /* ---header end--- */

  /*------------ welcome-------------- */
  .welcome {
    height: 420px;
  }
  .welcome .wrapper-img {
    margin-top: 40px;
    width: 280px;
  }
  .welcome .wrapper-text {
    margin-top: 40px;
    width: 341px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
  .welcome p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
  }
  /*---welcome end--- */

  /* -----------about------------------ */
  .about {
    height: 666px;
  }
  .about .wrapper-text {
    width: 668px;
  }
  .about h2 {
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 46px;
  }
  .about p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .about .wrapper-img {
    align-items: center;
    margin-top: 40px;
    width: 250px;
  }
  /* ---about end--- */

  /* -----------service ----------------*/
  .service {
    flex-direction: column;
    justify-content: flex-start;
    height: 1300px;
  }
  .service header {
    margin-bottom: 0px;
  }
  .service h2 {
    font-size: 35px;
    line-height: 46px;
  }
/* ---service and--- */

/* ------------------prices-------------- */
  .prices h2 {
    font-size: 34px;
    line-height: 42px;
  }
  .prices h3 {
    font-size: 25px;
    line-height: 35px;
  }
}

/* ---------------------------------------------------1024 */
@media (max-width: 1024px) {
  /* --------------------about------------- */
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 783px;
  }
  .about .wrapper-text {
    margin-top: 40px;
  }
  .about h2 {
    text-align: center;
  }
  /*----about and--- */

  /* ----------------service-------------- */
  .service {
    height: 1780px;
  }
  .service header {
    flex-direction: column;
    height: 284px;
    align-items: flex-start;
  }
  .service h2 {
    margin: 60px 0 40px;
  }
  .service .header-menu {
    margin-left: 0;
  }
  .service .content {
    align-self: center;
    width: 668px;
  }
  article {
    margin-bottom: 38px;
  }
  /*---service and-- */

  /* ----------------prices-------------- */
  .prices {
    height: 585px;
  }
  .order-service {
    margin-top: 139px;
  }
/*----prices--- */

/* ---------------contacts---------------- */
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 739px;
  }
  .contacts .wrapper-img {
    width: 200px;
    order: 3;
  }
  .contacts-select-wrapper {
    margin-top: 100px;
  }
}

/* ------------------------------------------------768 */
@media (max-width: 768px) {
  .welcome .wrapper-img {
    order: 2;
  }
  .welcome p {
    margin-bottom: 35px;
  }
  /*---welcome end--- */

  /* -----------about------------------ */
  .about h2 {
    margin-bottom: 51px;
  }
  .about .wrapper-img {
    align-items: center;
    margin-top: 67px;
  }
  /*----about and--- */

  /* ----------------prices-------------- */
  .prices h2 {
    margin-left: 15px;
  }
  .prices h3 {
    margin-bottom: 30px;
  }
  .prices .wrapper-img {
    margin: 28px 3px 0 0;
  }
  /*----prices--- */

  /* ---------------contacts---------------- */
  .contacts h2 {
    margin: 40px 0 0 0;
  }
  .contacts .wrapper-img {
    margin-left: 20px;
  }
  /*---contacts and--- */

/* -----------------footer----------------- */
  footer {
    flex-direction: column;
    justify-content: flex-start;
    height: 181px;
    padding-top: 33px;
  }
  .school-link, .github-link {
    line-height: 24px;
  }
  .school-link {
    margin: 16px 0 16px;
  }
  .social-network {
    margin: 8px 20px 0 0;
  }
}

/* ---------------------------------------------------767 */
@media (max-width: 767px) {
  /* ------------header-------------- */
  header {
    height: 96px;
  }
  nav {
    display: none;
  }
  /* ---header end--- */

  /*------------ welcome-------------- */
  .welcome {
    height: 300px;
  }
  .welcome .wrapper-img {
   display: none;
  }
  h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .welcome .wrapper-text {
    margin-top: 26px;
    width: 100%;
  }
  .welcome p {
    margin-bottom: 24px;
  }
  /*---welcome end--- */

  /* -----------about------------------ */
  .about {
    height: 516px;
  }
  .about .wrapper-text {
    width: 100%;
  }
  .about h2 {
    margin-bottom: 13px;
    font-size: 25px;
    line-height: 33px;
  }
  .about p {
    font-size: 15px;
    line-height: 25px;
  }
  .about .wrapper-img {
    margin-top: 20px;
    width: 150px;
  }
  /* ---about end--- */

  /* -----------service ----------------*/
  .service {
    height: 3150px;
  }
  .service h2 {
    margin: 30px 0 35px;
    font-size: 25px;
    line-height: 33px;
  }
  .header-menu button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .service header {
    height: 253px;
  }
  .service .header-menu {
    width: 100%;
  }
  .service .content {
    width: 282px;
  }
  article {
    margin-bottom: 34px;
  }
  /*----about and--- */

  /* ----------------prices-------------- */
  .prices {
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
  }
  .prices .wrapper-img {
    display: none;
  }
  .prices h2 {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .price-info {
    margin-bottom: 14px;
    width: 180px;
    font-size: 15px;
  }
  .prices-menu {
    width: 224px;
    min-height: 235px;
  }
  .order-service {
    margin-top: 19px;
    align-items: center;
  }
  .order-service button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .prices h3 {
    text-align: center;
}
/*----prices--- */

/* ---------------contacts---------------- */
.contacts {
    height: 445px;
}
.contacts h2 {
    margin: 25px 0 0 0;
    font-size: 25px;
    line-height: 33px;
}
.contacts-select-wrapper {
    margin-top: 80px;
}
.contacts-select-city {
  width: 300px;
}
.contacts .wrapper-img {
  width: 100px;
}
/*---contacts and--- */

/* -----------------footer----------------- */
  footer {
    height: 146px;
  }
}

/* ---------------------------------------------------480 */
@media (max-width: 480px) {
  header, footer, .welcome, .about, .service, .prices, .contacts {
    padding: 0 25px 0;
  }
  h1 {
    margin-bottom: 21px;
  }
  .welcome button {
    width: 100px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
  }
  .about .wrapper-img {
    margin-top: 3px;
  }
  .about .wrapper-text {
    margin-top: 30px;
  }
  .header-menu button {
    margin-right: 10px;
    margin-bottom: 9px;
  }
  .service .header-menu {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .prices {
    height: 512px;
  }
  .wrapper-prices-menu {
    margin-top: 25px;
  }
  .prices h2 {
    margin-bottom: 38px;
  }
  .prices-menu {
    padding-top: 29px;
  }
  .price-info {
    padding: 16px 40px 16px 30px;
    margin-bottom: 14px;
  }
  .prices h3 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
  }
  .contacts-select-city {
    background-position: right 24px top 50%, 0 0;
  }
  .contacts .wrapper-img {
    margin-left: 0;
  }
  .github-link {
    margin-top: 20px;
  }
  .school-link {
    margin: 16px 0 14px;
  }
  .social-network {
    margin: 0 20px 0 0;
  }
}
/* ---------------------------------------------------380 */
@media (max-width: 380px) {
  body {
  min-width: 380px;
}
}